/* Header styles */
.header-text {
  /* forces text across the entire screen so it has a center */
  width: 100%;
  text-align: center;
  font-size: 10px;
  color:greenyellow 
}
/* body styles */
body {
  /* image for background */
  background-image: url('./background.png');
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;  
  -webkit-background-size: cover; 
  background-repeat: no-repeat ;
  background-attachment: fixed;
}
/* navbar styles */
.navbar { 
  background-color:  #666;  
  color: #b6d7e2;  
  padding-bottom: 0;
  border-bottom: solid;
  border-bottom-color: #ccc;
  width: 100%;
  text-align: center;
}
/*Sub- contaner */
#subContainer {  
  background-color: #856404;    
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 40px;
} 
/*time block schedular page*/
.time-block{
  background-color: linen;  
  color: black;
  height:100%;
  width: 100%;
  text-align: center;
  border-radius: 15px 0px 0px 15px;
  display: inline-block;
  font-size: 1em;
}
/* 3 different Columns of schedular box  */
.col-md-1, .col-md-2, .col-md-9 {
  padding: 0;
}
/* Text Row  */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}
/* Display hours  */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* save button index */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  text-align: center;
}
/* save button hover over  */
.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
/* Current Day Schedular ID */
#currentDay{
  padding: 2px;
  font-size: 20px;
  color: linen;
  text-align: center;
}
/* Display class from index file */
.display-3 {
  font-size:3rem;  
  line-height: 1.2;
  color: #000000;
 
}  
 /* sets height/color of footer*/
.footer {
  background-color: #666;   
  height: 10%;    
  border-top: solid;
  border-top-color: #856404;  
  border-top-width: 8px;
  text-align: center;
}
/* fooetr text styles */
.footer-text{
  width: 100%;
  text-align: center;
  font-size: 17px;
  color:white;
}
/* Save button icon  */
.material-icons{  
  color: green;
  border-radius: 0px 15px 15px 0px;
  font-size: 1.5em;
  width: 20px;
  height: 20px;
  text-align: center;
}
/* Daily Plan text input area */
.dailyPlan {
  color: black;
  font-size: 12pt;
  height: 100%;
  width: 100%;
}
/* Text Input  */
input {
  background: transparent;
  border: none;
  padding-left: 3px;
}
.col-md-1, .col-md-2, .col-md-9 {
  padding: 0;
}
/* Input text Planner Row  */
.plannerRow {
  height: 50px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 1.6em;
  line-height: 1.5;
  border-radius: 15px;
}


/*Large devices (desktops, 992px and up) */
@media only screen and (max-width:992px) {
   .plannerRow {
    height: 100%;
    border-radius: 10;
    margin: 10px;
  }

  .saveIcon { border-radius: 0 0 15px 15px; }

  .timeBox { border-radius: 15px 15px 0 0; }
  padding: 20px;
  display-3 {
    font-size:2rem;  
    /* line-height: 1.2; */
    color: #000000;   
  }  
}
/*Small devices (landscape phones, 576px and up)*/
@media only screen and (max-width:576px) { 
 .navbar{
   margin: 0px;
   padding: 0px;
   height:auto;
 }
 .subContainer{
   margin-top: 50px;
   padding-top: 50px;
 }
 .display-3{
   height:auto;
   font-size:20px;
 }
 .lead {
  font-size: 1rem;
}
}